<a href="https://colab.research.google.com/github/Nishant7621/Nishant7621/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
from distutils.version import LooseVersion
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

df = pandas.read_csv("/content/LOAN.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/LOAN.csv")

v = df['Loan_Amount_Term']

#Finding the mean value:
mean = numpy.mean(v)

print(mean)

342.0

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/LOAN.csv")

v = df['Loan_Amount_Term']

#Finding the standard deviation:
std = numpy.std(v)

print(std)

65.0661202162846

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/LOAN.csv")

v = df['Credit_History']

#Finding the mean value:
mean = numpy.mean(v)

print(mean)

0.8421985815602837

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/LOAN.csv")

v = df['Credit_History']

#Finding the mean value:
std = numpy.std(v)

print(std)

0.3645547020381576

In [ ]:
z=(360.0-342.0/65.066120216284)
z

354.7438083158613

In [ ]:
z=(1.0-0.842198581560283/0.364554702038157)
z

-1.3102118196575403

In [ ]:
import pandas
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

df = pandas.read_csv("/content/LOAN.csv")

X = df[['Loan_Amount_Term','Credit_History']]

scaledX = scale.fit_transform(X)

print(scaledX)

[[ 0.27664167  0.43286074]
 [ 0.27664167  0.43286074]
 [ 0.27664167  0.43286074]
 ...
 [ 0.27664167  0.43286074]
 [ 0.27664167  0.43286074]
 [ 0.27664167 -2.31021182]]

In [ ]:
import pandas
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

df = pandas.read_csv("/content/bikes.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7857 entries, 0 to 7856
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model_name  7857 non-null   object
 1   model_year  7857 non-null   int64
 2   kms_driven  7857 non-null   object
 3   owner       7857 non-null   object
 4   location    7838 non-null   object
 5   mileage     7846 non-null   object
 6   power       7826 non-null   object
 7   price       7857 non-null   int64
dtypes: int64(2), object(6)
memory usage: 491.2+ KB

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/bikes.csv")

v = df['price']

#Finding the mean value:
mean = numpy.mean(v)

print(mean)

106791.33689703449

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/bikes.csv")

v = df['price']

#Finding the standard deviation:
std = numpy.std(v)

print(std)

138917.28343230527

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7857 entries, 0 to 7856
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model_name  7857 non-null   object
 1   model_year  7857 non-null   int64
 2   kms_driven  7857 non-null   object
 3   owner       7857 non-null   object
 4   location    7838 non-null   object
 5   mileage     7846 non-null   object
 6   power       7826 non-null   object
 7   price       7857 non-null   int64
dtypes: int64(2), object(6)
memory usage: 491.2+ KB

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/bikes.csv")

v = df['model_year']

#Finding the mean value:
mean = numpy.mean(v)

print(mean)

2015.3676975945018

In [ ]:
import pandas
import numpy

df = pandas.read_csv("/content/bikes.csv")

v = df['model_year']

#Finding the standard deviation:
std = numpy.std(v)

print(std)

4.001188598532811

In [ ]:
import pandas
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

df = pandas.read_csv("/content/bikes.csv")

X = df[['model_year','price']]

scaledX = scale.fit_transform(X)

print(scaledX)

[[ 0.40795438 -0.31163391]
 [ 0.15802864  0.05909029]
 [-0.8416743   1.39081803]
 ...
 [ 0.15802864 -0.32430332]
 [ 0.15802864 -0.41601258]
 [ 0.15802864 -0.30083612]]

# New Section